#root {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
.header {
    width: 100vw;
    height: 5rem;
    padding: 0 2rem;
    background-color: rgba(196, 220, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    position: fixed;
    top: 0;
    z-index: 2;
    img {
        margin-left: 27px;
        height: 3rem;
        width: auto;
    }
    nav {
        margin-right: 27px;
        color: rgba(47, 63, 84);
        font-size: 16px;
        
        span {
            font-weight: 650;
            display: inline-block;
            margin-right: 0.75rem;
        }
    }
}
.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.content {
    z-index: 1;  
    width: calc(100vw - 8.5rem);
    padding-top: 100px;
    margin: 80px auto 0 auto;
    height: 120vh;
}